<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="v8.redist-v143-x64" version="13.0.245.25" targetFramework="native" />
  <package id="v8.redist-v143-x86" version="13.0.245.25" targetFramework="native" />
  <package id="v8-v143-x64" version="13.0.245.25" targetFramework="native" />
  <package id="v8-v143-x86" version="13.0.245.25" targetFramework="native" />
</packages>